*{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(26, 11, 46, 1);
  padding: 20px;
}
nav ul{
  display: flex;
  gap: 40px;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: aliceblue;
}
.size{
  padding: 0px;
}
.gradient{
border-radius: 30px;
font-family: "Inter", sans-serif;
display: flex;
justify-content: center;
gap: 4px;
background-color: linear-gradient(45deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
padding: 10px 16px;
}
.hero-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.back-circle{
background-image: url(./assets/hero-circle.png);
background-size: cover;
background-repeat: no-repeat;
width: 410px;
height: 410px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.button-two{
color: rgba(0, 255, 136, 1);
border: 1px solid rgba(0, 255, 136, 1);
border-radius: 30px;
font-family: "Inter", sans-serif;
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
background-color: transparent;
padding: 10px 16px;
}
.buttons{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
padding: 10px;
}
.hero-title{
color: rgba(255, 255, 255, 1);
font-size: 70px;
font-weight: 800px;
font-style: bolder;
margin: 8px;
}
.hero-bg{
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px ;
}
.hero-para{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.mic{
  width: 140px;
  margin-bottom: 20px;
}
#hero-badge{
  border: 0px solid rgba(0, 255, 136, 1);
  border-radius: 30px;
  background-color: rgba(0, 255, 136, 1);
  padding: 10px 20px;
  font-weight: 600;
  font-size: large;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  margin-left: 320px;
  margin-top: -30px;
}
.Podcast{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(26, 11, 46, 1);
  padding: 50px 200px 80px 200px;
  margin: 0px;
}
.podcast-title{
  color: aliceblue;
  font-size: 50px;
}
.first-des{
  color: lightgrey;
}
.down-border{
  color: lightgrey;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px 40px 90px 40px;
}
.list-title{
  color: rgba(0, 255, 136, 1);
  font-size: 48px;
  padding: 0px;
  margin: 0px;
}
.list-des{
  color: lightgrey;
  text-transform: uppercase;
}
.list-item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.list-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  margin-top: 80px;
  list-style-type: none;
}
.card{
  border: 2px;
  border-radius: 40px;
  background: rgba(53, 17, 101, 1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.card-title{
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 1);
}
.card-des{
  margin: 0px;
  padding: 0px;
  color: lightgrey;
}
.card-container{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: 
  "card-1 card-2 card-2"
  "card-1 card-3 card-3"
  "card-4 card-4 card-5";
  gap: 15px;
}
.grid-section-title{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    margin-bottom: 60px;
}
.grid-section{
background: rgba(35, 14, 61, 1);
padding: 80px 400px;
}
.footer-bg{
  color: lightgrey;
  background-image: url(./assets/footer-bg.png);
  background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
width: 100%;
height: 500px;
}
.footer-list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.logo-border{
list-style-type: none;
border: 1px solid black;
border-radius: 300px;
display: inline-flex;
justify-content: center;
align-items: center;
gap: 20px;
margin: 2px;
padding: 6px;
}
.host-card{
  display: flex;
  background: rgba(53, 17, 101, 1);
  border: 0px;
  border-radius: 40px;
  padding: 40px;
}
.host-card-title{
  color: aliceblue;
}
.host-card-des{
  color: lightgrey;
}